use_nix_config() {
  local config_file="$1"
  if [ -f "$config_file" ]; then
    export NIX_CONFIG="$(cat $config_file)"
    echo "Loaded Nix configuration from $config_file"
  fi
}

use_nix_config nix.conf
use flake
